<link rel="stylesheet" href="{{ "bootstrap-table.css" | absURL }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stewart.tc - the personal blog of Brent Stewart</title>
  <meta name="description" content="{{.Params.description}}">
  <meta name="keywords" content="{{.Params.Focus_Keyword}}">
  <meta name="twitter:card" content="{{.Params.description}}">
  <meta property="og:title" content="{{.Params.Title}}" >
  <meta property="og:url" content="{{.Permalink}}" >
  <meta property="og:description" content="{{.Params.description}}" >
  <meta property="og:image" content="/stewart.webp" >
  <link rel="apple-touch-icon" href="/stewart.webp" >
  <link rel="stylesheet" href="https://stewart.tc/style.css" >
</head>
<div class="title" style="position:fixed;top:0px;width:100%;"><img src="/stewart.webp#floatleft" alt="" height="70" > <br><i>the personal journal of Brent Stewart</i></div>
<div class="nav"style="text-align: left; position: fixed;top:100px;width:100%">
  <nav class="sidebar-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
    &NonBreakingSpace;Find me on:&NonBreakingSpace;
    <a href="https://nextpertise.net"><img src="/n.png" alt="Nextpertise" height="25" ></a>
    <a href="https://www.stewart.tc/index.xml"><img src="/Feed-icon.png" alt="RSS" height="25" ></a>
    <a href="https://www.linkedin.com/in/brentdstewart/"><img src="/linkedin.png" alt="LinkedIn" height="25" ></a>
    {{ if .Params.math }}{{ partial "katex.html" . }}{{ end }}
  </div>
  <meta name="ahrefs-site-verification" content="a0e3d93f586bcfca801cb264c0c4b03ae00951a5cc5f7f655db4c947f56f19e2">